@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"),
    url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff") format("woff"),
    url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff") format("woff"),
    url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
}

.body-pink {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;

  font-family: "Open Sans", "Tahoma", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.page-main {
  display: flex;
  flex-direction: column;
}

.mobile {
  .mobile();
}

.tablet {
  .tablet();
}

.desktop {
  .desktop();
}
