.description h2 {
  .light();
  font-size: 24px;
  text-align: center;
  color: @blue-color;
}

.description__list {
  background-color: #f2f2f2;
}

.description__item {
  list-style: none;

  h3 {
    .bold();
    font-size: 18px;
    text-align: center;
  }

  p {
    color: @blue-color;
    text-align: center;
  }
}

.description-friends {
  &::after {
    content: "";
    display: block;
    width: 157px;
    height: 277px;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}
