.description h2 {
  font-family: "Open Sans Light", "Tahoma", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #283645;
}

.description__list {
  background-color: #f2f2f2;
}

.description__item {
  list-style: none;

  h3 {
    font-family: "Open Sans Bold", "Tahoma", "Arial", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
  }

  p {
    color: #283645;
    text-align: center;
  }
}

.description-friends {
  &::after {
    content: "";
    display: block;
    width: 157px;
    height: 277px;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
  }
}
