.light() {
  font-weight: 300;
}

.regular() {
  font-weight: 400;
}

.bold() {
  font-weight: 700;
}

.mobile() {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.tablet() {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.desktop() {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.desktop-inline() {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.not-mobile() {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.not-mobile-flex() {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.not-mobile-inline() {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.not-desktop() {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
