.page-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.main-nav__toggle {
  font-size: 0;
  background-color: transparent;
  border: none;
}

.site-list__item {
  list-style: none;
}

.site-list__item a {
  font-family: "Open Sans Bold", "Tahoma", "Arial", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.page-header__title {
  font-family: "Open Sans Light", "Tahoma", "Arial", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.page-header__download {
  font-family: "Open Sans Bold", "Tahoma", "Arial", sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;

  border: 3px solid #ffffff;
  border-radius: 25px;
}

.page-header__download-links {
  // display: flex;
  // flex-direction: column;
  background-color: #1d2631;

  &::before {
    content: "";
    display: block;
    // position: absolute;
    width: 320px;
    height: 314px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-color: none;
  }
}

.page-header__download-store {
  list-style: none;
}

.store-link {
  font-size: 0;
}

.page-header__app-store {
  background-image: url("../img/logo-apple.svg");
}

.page-header__download-links p {
  font-family: "Open Sans Light", "Tahoma", "Arial", sans-serif;
  text-align: center;
  font-weight: lighter;
  color: #ffffff;
}
