.review {
  margin: 0 auto;
  margin-top: 25px;
  width: 280px;
}

.review__slide {
  display: flex;
  flex-direction: column;
}

.review__title {
  .bold();
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

.review__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 30px;
  color: @blue-color;
  text-align: center;
}
