.tariff {
  background-color: #f2f2f2;
}

.tariff__header {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #283645;
  border: 2px solid #e5e5e5;
  border-bottom: none;
}

.tariff__title {
  font-family: "Open Sans Bold", "Tahoma", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.tariff__price {
  font-family: "Open Sans Light", "Tahoma", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.tariff__option {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-transform: uppercase;

  border: 2px solid #e5e5e5;
  border-top: none;
  background-color: #ffffff;
}
