.upload {
  height: 910px;
}

@media (min-width: @tablet-width) {
  .upload {
    height: 687px;
  }
}

.upload__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.upload__wrapper {
  background-color: #f2f2f2;
}

.upload__effect {
  list-style: none;
  opacity: 0.3;
}

.upload__bar {
  margin-bottom: 10px;

  border-bottom: 1px solid rgba(@blue-color, 0.1);
}

.upload__button {
  margin-bottom: 10px;
  font-size: 18px;
  .bold();

  background-color: transparent;
  border: 3px solid;
  border-radius: 20px;
}

.upload__button--submit {
  color: @pink-color;
}

.upload__button--reset {
  color: rgba(@blue-color, 0.1);
}
