.description {
  display: flex;
  flex-direction: column;
}

.description__title {
  .light();
  width: 320px;
  margin: 0 auto;

  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: @blue-color;
}

@media (min-width: @tablet-width) {
  .description__title {
    font-size: 40px;
  }
}

@media (min-width: @desktop-width) {
  .description__title {
    font-size: 50px;
  }
}

.description__title-part1 {
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .description__title-part1 {
    width: 660px;
    margin-top: 44px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .description__title-part1 {
    width: 940px;
    margin-top: 68px;
  }
}

.description__title-part2 {
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .description__title-part2 {
    width: 500px;
    margin-top: -7px;
    line-height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .description__title-part2 {
    width: 500px;
    margin-top: 0;
    line-height: 60px;
    margin-bottom: 76px;
  }
}
